/* 공통 */
.section1 {
    width: 100%;
}
header h1 a{
    font-size: 1.8rem;
    font-weight: 400;
}

.section2 {
    width: 100%;
    padding: 3rem 2rem 6rem;
}

.section3 {
    width: 100%;
    padding: 0 0 5rem;
}

/* 섹션2 */
.section2 .rank_title_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
.section2 .rank_title_wrap h2 {
    font-size: 1.8rem;
    font-weight: 500;
}
.section2 .rank_title_wrap button {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--point-400);
}
.section2 .rank_wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section2 .rank_box{
    width: 100%;
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 0.8rem;
}
.section2 .rank_box.box1 {
    background-color: var(--primary-300);
}
.section2 .rank_box.box2 {
    background-color: var(--primary-100);
}
.section2 .rank_box.box3 {
    background-color: var(--point-50);
}
.section2 .rank_box.box4 {
    background-color: var(--grayscale-50);
}
.section2 .rank_box .pf_wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section2 .rank_box .popular_wrap {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.section2 .more_content {
    display: none;
}

.section2 .change_rank {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
}
.section2 .top_rank_box {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2 .top_rank_box .top_rank_pf {
    position: relative;
} 
.section2 .top_box1 .top_rank_pf::before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: 50%;
    width: 2rem;
    height: 1.6rem;
    background-image: url(../img/silver_crown.png);
    z-index: 5;
    transform: translate(-50%, -50%);
} 
.section2 .top_box2 .top_rank_pf::before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: 50%;
    width: 2rem;
    height: 1.6rem;
    background-image: url(../img/gold_crown.png);
    z-index: 5;
    transform: translate(-50%, -50%);
} 
.section2 .top_box3 .top_rank_pf::before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: 50%;
    width: 2rem;
    height: 1.6rem;
    background-image: url(../img/bronze_crown.png);
    z-index: 5;
    transform: translate(-50%, -50%);
} 
.section2 .top_rank_box .change_pf {
    transform: scale(1.4);
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.section2 .top_box2 .change_pf {
    transform: scale(1.4);
    margin-top: 1.2rem;
}
.section2 .top_rank_box .change_rank_bottom {
    display: flex;
    gap: 0.7rem;
}
.section2 .top_box1 {
    width: 11.6rem;
    height: 14rem;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: var(--primary-100);
}
.section2 .top_box2 {
    width: 11.6rem;
    height: 16rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: var(--primary-300);
}
.section2 .top_box3 {
    width: 11.6rem;
    height: 14rem;
    border-radius: 0 0.8rem 0.8rem 0;
    background-color: var(--point-50);
}

/* 섹션3 */